In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://finance.yahoo.com/quote/005930.KS/history?p=005930.KS")[0]

In [3]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 19, 2021",84500.00,87200.00,83600.00,87000.00,87000.00,23637416
1,"Jan 18, 2021",86600.00,87300.00,84100.00,85000.00,85000.00,43227951
2,"Jan 15, 2021",89800.00,91800.00,88000.00,88000.00,88000.00,33431809
3,"Jan 14, 2021",88700.00,90000.00,88700.00,89700.00,89700.00,26393970
4,"Jan 13, 2021",89800.00,91200.00,89100.00,89700.00,89700.00,36068848
...,...,...,...,...,...,...,...
96,"Aug 28, 2020",56100.00,56300.00,55400.00,55400.00,55061.29,14619888
97,"Aug 27, 2020",56300.00,56300.00,55600.00,55600.00,55260.06,16196568
98,"Aug 26, 2020",56400.00,56500.00,55700.00,56400.00,56055.17,17651593
99,"Aug 25, 2020",56400.00,56800.00,56100.00,56400.00,56055.17,14021705
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [4]:
df.drop([0,100])

            Date      Open      High       Low    Close* Adj Close**    Volume
1   Jan 18, 2021  86600.00  87300.00  84100.00  85000.00    85000.00  43227951
2   Jan 15, 2021  89800.00  91800.00  88000.00  88000.00    88000.00  33431809
3   Jan 14, 2021  88700.00  90000.00  88700.00  89700.00    89700.00  26393970
4   Jan 13, 2021  89800.00  91200.00  89100.00  89700.00    89700.00  36068848
5   Jan 12, 2021  90300.00  91400.00  87800.00  90600.00    90600.00  48682416
..           ...       ...       ...       ...       ...         ...       ...
95  Aug 31, 2020  56000.00  56100.00  54000.00  54000.00    53669.84  32671367
96  Aug 28, 2020  56100.00  56300.00  55400.00  55400.00    55061.29  14619888
97  Aug 27, 2020  56300.00  56300.00  55600.00  55600.00    55260.06  16196568
98  Aug 26, 2020  56400.00  56500.00  55700.00  56400.00    56055.17  17651593
99  Aug 25, 2020  56400.00  56800.00  56100.00  56400.00    56055.17  14021705

[99 rows x 7 columns]

In [10]:
df = df.astype({"Open":'float',
                "High":'float',
                "Low":'float',
                "Close*":'float',
                "Adj Close**":'float',
                "Volume":'float'})

In [9]:
df = df.head(30).sort_values(by='Date')

In [11]:
df.corr()

                 Open      High       Low    Close*  Adj Close**    Volume
Open         1.000000  0.987765  0.998340  0.985853     0.986151  0.574496
High         0.987765  1.000000  0.989349  0.997918     0.997730  0.640310
Low          0.998340  0.989349  1.000000  0.989612     0.990017  0.563368
Close*       0.985853  0.997918  0.989612  1.000000     0.999970  0.612087
Adj Close**  0.986151  0.997730  0.990017  0.999970     1.000000  0.609107
Volume       0.574496  0.640310  0.563368  0.612087     0.609107  1.000000

In [12]:
df['Gain'] = df['Close*'] - df['Open']

In [13]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume,Gain
98,"Aug 26, 2020",56400.0,56500.0,55700.0,56400.0,56055.17,17651593.0,0.0
97,"Aug 27, 2020",56300.0,56300.0,55600.0,55600.0,55260.06,16196568.0,-700.0
96,"Aug 28, 2020",56100.0,56300.0,55400.0,55400.0,55061.29,14619888.0,-700.0
95,"Aug 31, 2020",56000.0,56100.0,54000.0,54000.0,53669.84,32671367.0,-2000.0
32,"Dec 01, 2020",67100.0,68300.0,67100.0,67800.0,67800.00,22327173.0,700.0
31,"Dec 02, 2020",68400.0,69900.0,68300.0,69500.0,69500.00,29703942.0,1100.0
30,"Dec 03, 2020",70100.0,70500.0,69300.0,69700.0,69700.00,23677989.0,-400.0
29,"Dec 04, 2020",70400.0,72100.0,70100.0,71500.0,71500.00,28130533.0,1100.0
28,"Dec 07, 2020",72400.0,73500.0,71900.0,72900.0,72900.00,28490496.0,500.0
27,"Dec 08, 2020",72200.0,72900.0,71600.0,71700.0,71700.00,25000338.0,-500.0
26,"Dec 09, 2020",72100.0,73900.0,72000.0,73900.0,73900.00,24077996.0,1800.0
25,"Dec 10, 2020",72700.0,73800.0,72500.0,72900.0,72900.00,39882928.0,200.0
24,"Dec 11, 2020",73500.0,73800.0,73100.0,73400.0,73400.00,18486672.0,-100.0
23,"Dec 14, 2020",73600.0,74500.0,73200.0,73800.0,73800.00,21510415.0,200.0
22,"Dec 15, 2020",73800.0,74100.0,73300.0,73800.0,73800.00,20863671.0,0.0
21,"Dec 16, 2020",74100.0,74500.0,73400.0,73800.0,73800.00,17512081.0,-300.0
20,"Dec 17, 2020",73400.0,73700.0,72600.0,73300.0,73300.00,24293214.0,-100.0
19,"Dec 18, 2020",73300.0,73700.0,73000.0,73000.0,73000.00,17613029.0,-300.0
18,"Dec 21, 2020",73100.0,73400.0,72000.0,73000.0,73000.00,20367355.0,-100.0
17,"Dec 22, 2020",72500.0,73200.0,72100.0,72300.0,72300.00,16304910.0,-200.0
16,"Dec 23, 2020",72400.0,74000.0,72300.0,73900.0,73900.00,19411326.0,1500.0
15,"Dec 24, 2020",74100.0,78800.0,74000.0,77800.0,77800.00,32502870.0,3700.0
14,"Dec 28, 2020",79000.0,80100.0,78200.0,78700.0,78700.00,40085044.0,-300.0
13,"Dec 29, 2020",78800.0,78900.0,77300.0,78300.0,78300.00,30339449.0,-500.0
12,"Dec 30, 2020",77400.0,81300.0,77300.0,81000.0,81000.00,29417421.0,3600.0
11,"Jan 04, 2021",81000.0,84400.0,80200.0,83000.0,83000.00,38655276.0,2000.0
10,"Jan 05, 2021",81600.0,83900.0,81600.0,83900.0,83900.00,35335669.0,2300.0
9,"Jan 06, 2021",83300.0,84500.0,82100.0,82200.0,82200.00,42089013.0,-1100.0
8,"Jan 07, 2021",82800.0,84200.0,82700.0,82900.0,82900.00,32644642.0,100.0
7,"Jan 08, 2021",83300.0,90000.0,83000.0,88800.0,88800.00,59013307.0,5500.0